<a href="https://colab.research.google.com/github/luienrique/ejercicios_for/blob/main/ejercicio_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INTRUCION REPETITIVA FOR

In [ ]:
# ejercicio 1: MOSTRAR LOS NUMEROS DEL 1 AL 10,SIN UASAR INSTRUSIONES REPETITIVAS 

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# ejercicio 2: mostrar los numeros del 1 al 10, usando  la instruccion  while
contador = 1
print(contador)
while contador <10:
  #contador =contador + 1
  contador += 1
  print(contador)

In [ ]:
# ejercicio 3: mostrar los numeros del 1 al 10, usando la instruccion for y una lista como iterable
for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# ejercicio 4: mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# ejercicio 5: mostrar una frase 10 veces  usando la instruccion for y la lsita
for i in [1,2,3,4,5,6,7,8,9,10]:
  print("sistema, la mejor !!!")

In [ ]:
# ejercicio 6: mostrar las silabas inicial de los dias de la semna, usando for y una lista con los dias de la semana 

dias_semanas = ["lu","ma", "mi","ju","vi","sa","do"]
for i in dias_semanas:
  print(i)

In [ ]:
# ejercicio 7: mostra una lista de distintos tipos de datos usando for
lista =[1, 3.4, 9, True, "Nestor", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
# ejercicio 8: ingresar un nombre y mostrarlo letra a letra, usando for

nombre = input("Dijite su nombre :")
for letra in nombre:
  print(letra)

In [ ]:
# ejercicio 9: ingrese su nombre y mostrarlo letra a letra, usando for, cambiando por * a la vocal e
nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == 'e':
    print("*")
  else:
    print(letra)

In [ ]:
# ejercicio 10 ingrese su nombre  y mostarlo  letra a letra, en mayuscula usando for 
nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# ejercicio 11: imprimir lista  en numeros usando for y range 
print( "numeros del 0 al 9" )
for i in range(10):
  print(i)

print( "numeros del 1 al 10" )
for i in range(1,11):
  print(i)

print("10 veces la frace")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frace i = ")
for i in range(10):
  print("i = " + str(i))

  print("10 veces la frace i = ")
  for i in  range(10):
    print(f" i = {i}")

print("Rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,17,4):
  print(i)

print("convierte el rango en lista  a, y la muestra ")
a= list(range(1000))
print(a)

# Ejercicios
1. Dada la siguiente lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo los que NO terminan en 1.
2. Mostrar 1000 veces la palabra "Programacion"
3. Del conjunto de cadenas ["E", "F", "M", "A"] que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.
4. Leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minuscula y/o mayúscula

In [ ]:
# ejerccio 1:Dada la siguiente lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en pantalla solo los que NO terminan en 1.
lista = [20, 21, 30, 41, 50, 51, 201]
for i in (20,30,50):
  print(i)

In [ ]:
#ejercicio 2:Mostrar 1000 veces la palabra "Programacion"
for i in range(1000):
  print("programacion")

In [ ]:
# ejercico 3:Del conjunto de cadenas ["E", "F", "M", "A"] que corresponden a las iniciales de los primeros cuatro meses del año, mostrar el nombre completo de dichos meses.